/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.checkbox-wrapper {
    margin-right: 10px; /* Adjust the margin as needed to control spacing between checkboxes */
    white-space: nowrap; /* Prevent checkboxes from wrapping to the next line */
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.checkbox-label {
    margin-right: 10px; /* Adjust the margin as needed */
}

input[type="checkbox"] {
    margin-right: 5px; /* Adjust the margin as needed */
}